@import "tailwindcss";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Tailwind v4 theme tokens */
@theme {
  --breakpoint-xs: 424px;
  --font-poppi: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-merri: "Merriweather", serif;
  --font-robo: "Roboto", sans-serif;

  /* For Agency Assignment Project */

  --color-primary-blue: #2196f3;
  --color-secondary-cyan: #00bcd4;
  --color-bg-light-blue: #bbdefb;
  --color-bg-light-cyan: #b2ebf2;
  --color-text-dark: #000000de;
}
